{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel = 'stylesheet' href = {% static 'sb-admin-2.min.css' %}>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.anychart.com/releases/8.10.0/js/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.10.0/js/anychart-pie.min.js"></script>


    {% comment %} <script src='{% static 'index.global.js' %}'></script> {% endcomment %}
    <!-- any changes in the calendar.js does not affect here, why? -->
    {% comment %} <script src='{% static 'calendar.js' %}'></script> {% endcomment %}

    <title>Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">


    <style>        
        .inner-box {
          border: 1px solid #ddd;
          padding: 15px;
          margin-top: 10px;
          color: black
        }
    
        /* Style for buttons */
        .button {
          display: inline-block;
          padding: 8px 15px;
          margin-right: 10px;
          cursor: pointer;
          border: none;
          border-radius: 20px;
        }

        #accept_btn{
          background-color: #4CAF50;
          color: black;

        }

        #decline_btn{
          background-color: #ff0000;
          color: white;

        }

        #appointments-container {
            max-height: 808px; /* Set the maximum height according to your design */
            overflow-y: auto; /* Enable vertical scrollbar when content exceeds the height */
        }

        #today-appointments-container {
            max-height: 250px; /* Set the maximum height according to your design */
            overflow-y: auto; /* Enable vertical scrollbar when content exceeds the height */
        }

        table {
            width: 100%;
            border-collapse: collapse;
            {% comment %} margin-top: 20px;  {% endcomment %}
          }
        
          th, td {
            padding: 10px;  /* Add padding to th and td for spacing */
            text-align: center;
            {% comment %} border: 1px solid #ddd; {% endcomment %}
          }

        ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        {% comment %} background-color: #333; {% endcomment %}
        }
        
        .head-nav {
        float: left;
        }
        
        .head-nav a {
        display: block;
        color: Gray;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        }
        
        .head-nav a:hover {
        background-color: #3e64d3;
        color: white;
        }

        .max-height-300 {
            max-height: 400px;
        }

        .ageNSex { 
            width: 100%; 
            height: 100%; 
            margin: 0; 
            padding: 0;
            min-height: 250px; 
        } 

        #ageNSex {
            width: 100%; 
            height: 250px; 
            color: black;
        }

      </style>

    </head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'index'%}">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">EyeLuc </div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="{%url 'admin_Dashboard' %}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Home</span></a> <!-- This will bring them on homepage of the website -->
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider"> <!-- Ito yung parang may dash -->

            <li class="nav-item active">
                <a class="nav-link" href="{%url 'admin_Clinics_Table' %}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Clinics</span></a>
            </li>

            <hr class="sidebar-divider">

            <li class="nav-item active">
            <a class="nav-link" href="{%url 'admin_Opthal' %}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Opthamologist</span></a>
            </li> 

            
            
            {% comment %} <hr class="sidebar-divider">

            <li class="nav-item active">
                <a class="nav-link" href="{%url 'admin_OpthalInfo' %}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Opthamologist Table</span></a>
            </li>  {% endcomment %}

            <hr class="sidebar-divider">

            <li class="nav-item active">
                <a class="nav-link" href="{% url 'admin_Users'%}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>User</span></a> <!-- In admin side, it should show all the user account -->
            </li>

            <hr class="sidebar-divider">

            <li class="nav-item active">
                <a class="nav-link" href="">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Profile</span></a>
            </li>
            
            <hr class="sidebar-divider">
            
            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <!-- End of Sidebar --> 

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <ul>
                        {% comment %} <li class = "head-nav"><a href="{%url 'admin_Clinics' %}">General</a></li> {% endcomment %}
                        <li class = "head-nav"><a href="{%url 'admin_Clinics_Table' %}">Clinics</a></li>
                        <li class = "head-nav"><a href="{%url 'admin_Cregistration' %}">Add Clinics </a></li>
                        
                        {% comment %} <li><a href="#about">About</a></li> {% endcomment %}
                    </ul>
                
                
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                                            
                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Douglas McGee</span>
                                <img class="img-profile rounded-circle"
                                    src="img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>
                </nav>
                <!-- End of Topbar -->

                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="row">
                        <div class="col-md "> 
                            <div class="card shadow mb-4" >
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h4 class="m-0 font-weight-bold text-primary">Registered Clinics</h4>       
                                    <div>
                                        {% comment %} <button class = "mx-1 px-4" style="decoration: none; background: green; color: white; border-radius: 10px; border: none;"> Add </button>
                                        <button class = "mx-1 px-3" style="decoration: none; background: green; color: white; border-radius: 10px; border: none;"> Update </button>
                                        <button class = "mx-1 px-3" style="decoration: none; background: green; color: white; border-radius: 10px; border: none;"> Remove </button> {% endcomment %}

                                    </div>                             
                                </div> 

                                <div class="card-body" id="overview-container">                                     
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="height-limit: 20vh">
                                        <thead style = "border: 1px solid black; background: #345cd0; color: white;">
                                            <tr>
                                                {% comment %} <th>Select All  <input type="checkbox" id="select-all-checkbox"></th> {% endcomment %}
                                                <th>Clinic Name</th>
                                                <th>Assigned Opthamologist</th>
                                                <th>Clinic Address</th>
                                                <th>Number of Staff</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for data in Clinics %} <!-- Need pa ayosin -->
                                                <tr>
                                                    {% comment %} <td><input type="checkbox" class="row-checkbox" data-userid="{{ data.user.id }}"></td> {% endcomment %}
                                                    <td>{{ data.clinicName }}</td>
                                                    {% comment %} <td>{{ data.firstName }} {{ data.lastName }}</td> {% endcomment %}
                                                    {% comment %} <td>{{ data.sex }}</td>  {% endcomment %}
                                                    <td>{{ data.opthID }}</td> 
                                                    <td>{{ data.clinicAddress }}</td> 
                                                    <td>{{ data.clinicEMailAdd }}</td>
                                                    <td>
                                                        <a href="/admin_Clinics_Information/{{ data.clinicID }}/Clnc"> <button style="decoration: none; background: green; color: white; border-radius: 10px; border: none;"> View </button> </a>
                                                        <a href="/clinic_Report/ID/{{ data.clinicID }}"> <button style="decoration: none; background: green; color: white; border-radius: 10px; border: none;"> Generate Report </button> </a>
                                                    </td> 
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>                       
                            </div>
                        </div>    

                    </div>

                    <div class="row">
                        <div class="col-md-4 "> 
                            <div class="card shadow mb-4" >
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h4 class="m-0 font-weight-bold text-primary">Highest Clinic Rating</h4>                                    
                                </div> 

                                <div class="card-body" id="overview-container"> 
                                    <canvas id="clinicRate" width="600" height="200" style="margin-bottom: 30px; max-height: 250px;" ></canvas>
                                </div>                       
                            </div>
                        </div>

                        <div class="col-md-4 ">
                            <div class="card shadow mb-4" >
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h4 class="m-0 font-weight-bold text-primary">Most Common Services Requested</h4>                                    
                                </div> 

                                <div class="card-body ageNSex" id="overview-container"> 
                                    <div id="ageNSex" > </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-4 ">
                            <div class="card shadow mb-4" >
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h4 class="m-0 font-weight-bold text-primary">Most Visited Clinics</h4>                                    
                                </div> 

                                <div class="card-body" id="overview-container"> 
                                    <canvas id="visitedClinic" width="600" height="200" style="margin-bottom: 30px; max-height: 250px;" ></canvas>
                                </div> 

                            </div>
                        </div>




                    </div>
                    
                    
                </div>
                
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->


    </div>
    <!-- End of Page Wrapper --> 

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">X</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <script>

        var clinic_rate_json = {{ clinic_rate_json|safe }};
    
        // Now include your JavaScript code that uses clinic_rate_json
        // Clinic Ratings Chart
        var clinicRateData = clinic_rate_json;
        var clinicNamesRate = Object.keys(clinicRateData);
        var ratingCounts = clinicNamesRate.map(function (clinicName) {
            return clinicRateData[clinicName].rating_count || 0;
        });
        var averageRatings = clinicNamesRate.map(function (clinicName) {
            return clinicRateData[clinicName].average_rating || 0;
        });
    
        var clinicRatingsData = {
            labels: clinicNamesRate,
            datasets: [
                {
                    label: 'Rating Counts',
                    data: ratingCounts,
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1,
                },
                {
                    label: 'Average Ratings',
                    data: averageRatings,
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1,
                },
            ],
        };
    
        var ctx4 = document.getElementById('clinicRate').getContext('2d');
        var clinicRateChart = new Chart(ctx4, {
            type: 'bar',
            data: clinicRatingsData,
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                    },
                },
                responsive: true,
                maintainAspectRatio: false,
            },
        });

        // Most Visited Clinic Chart
        var clinicData = {{ clinic_bookings_dict|safe }};
        
        // Extract clinic names and booking counts from the dictionary
        var clinicNames = Object.keys(clinicData);
        var bookingCounts = Object.values(clinicData).map(function (clinic) {
            return clinic.bookings_count;
        });
    
        var mostVisitedClinicData = {
            labels: clinicNames,
            datasets: [{
                label: 'Booking Counts',
                data: bookingCounts,
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
            }]
        };
    
        var ctx3 = document.getElementById('visitedClinic').getContext('2d');
        var clinicChart = new Chart(ctx3, {
            type: 'bar',
            data: mostVisitedClinicData,
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                responsive: true,
                maintainAspectRatio: false
            }
        });
    </script>
    
    <script>
        // Common Services Requested
        console.log({{ services_requested|safe }});
            
        anychart.onDocumentReady(function () {
            var servReq = {{ services_requested|safe }};
    
            var data = [];
            for (var problem in servReq) {
                data.push({x: problem, value: servReq[problem]});
            }
    
            var chart = anychart.pie(data);
            
            chart.innerRadius('55%');
    
            // create a color palette
            var palette = anychart.palettes.distinctColors();
           
            // set the colors according to the brands
            palette.items([
                { color: '#1dd05d' },
                { color: '#42f5ec' },
                { color: '#00a3da' },
                { color: '#156ef2' },
                { color: '#f60000' },
                { color: '#96a6a6' }
            ]);
          
            // apply the donut chart color palette
            chart.palette(palette);
            
            // set the position of labels
            chart.labels().useHtml(true).format('<span style="color: #000;">{%x} — {%PercentValue}  %</span>');
    
            // enable the legend and position it
            chart.legend().enabled(true).positionMode('outside');
    
            // format the donut chart tooltip
            chart.tooltip().format('Percentage: {%PercentValue}%');
          
            // create a standalone label
            var label = anychart.standalones.label();
          
            // configure the label settings
            /*
            label
              .useHtml(true)
              .text(
                '<span style = "color: #313136; font-size:12px;">Common Services Requested</span>' +
                '<br/><br/><br/><span style="color:#444857; font-size: 10px;"><i>Statistics on services requested</i></span>'
              )
              .position('center')
              .anchor('center')
              .hAlign('center')
              .vAlign('middle');
            */
            
            
            // set container id for the chart
            chart.container('ageNSex');
            
            // initiate chart drawing
            chart.draw();
            
            // Adding a label for the source of data
            /*
            var sourceLabel = anychart.standalones.label();
            sourceLabel.useHtml(true)
                .text('<span style="color: #808080; font-size: 10px;">Source: Your Source Name</span>')
                .position('bottom')
                .anchor('left-bottom')
                .hAlign('left')
                .vAlign('bottom')
                .padding(10);
            chart.container().parentElement.appendChild(sourceLabel.container());
            */

        });
    </script>

</body>

</html>