{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel = 'stylesheet' href = {% static 'sb-admin-2.min.css' %}>
    <link rel = 'stylesheet' href = {% static 'styles.css' %}>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    </head>


    <body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'admin_Dashboard'%}">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">EyeLuc </div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="{%url 'index' %}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Home</span></a> <!-- This will bring them on homepage of the website -->
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider"> <!-- Ito yung parang may dash -->

            <li class="nav-item active">
                <a class="nav-link" href="{%url 'admin_Clinics_Table' %}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Clinics</span></a>
            </li>

            <hr class="sidebar-divider">

            <li class="nav-item active">
                <a class="nav-link" href="{%url 'admin_RegisterOptha' %}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Register Opthamologist</span></a>
            </li> 

            <hr class="sidebar-divider">

            <li class="nav-item active">
                <a class="nav-link" href="">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Profile</span></a>
            </li>
            
            <hr class="sidebar-divider">

            <li class="nav-item active">
                <a class="nav-link" href="{%url 'admin_OpthalInfo' %}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Opthamologist Table</span></a>
            </li> 

            <hr class="sidebar-divider">

            <li class="nav-item active">
                <a class="nav-link" href="{% url 'admin_Tables'%}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>User Table</span></a> <!-- In admin side, it should show all the user account -->
            </li>
            
            <hr class="sidebar-divider">
            
            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <!-- End of Sidebar --> 

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                                               
                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Douglas McGee</span>
                                <img class="img-profile rounded-circle"
                                    src="img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Update Ophthalmologist</h1>
                    </div> 

                    {% for message in messages %}
                        <h3>{{message}}</h3>
                    {% endfor %}
                    
                    <!-- Content Row -->
                    <div class="row">
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                        
                        <form id="contactForm" method ="POST" action = " ">
                            {% csrf_token %}
                            
                            <h3>Ophthalmologist Personal Information</h3>
                            <label>Name</label>
                            <div class="row">
                                <div class="col">
                                <input type="text" id="FName" name="FName" class="form-control" placeholder={{ user_client.firstName }} value = {{ user_client.firstName }} >
                                </div>

                                <div class="col">
                                    <input type="text" id="MName" name = "MName" class="form-control" placeholder={{ user_client.middleName }} value = {{ user_client.middleName }}>
                                </div>
                                
                                <div class="col">
                                <input type="text" id="LName" name = "LName" class="form-control" placeholder={{ user_client.lastName }} value = {{ user_client.lastName }}>
                            </div>
                            <br>
                            {% comment %} Date API na lang kaya sa birthday? hmm.. so gawa muna ako ng placeholder dito {% endcomment %}
                            
                            <label for="bday">Birthday</label>
                            <input id = "bday" name = "biday" type = "date"  date = "YYYY-MM-DD"  class="form-control" value = {{ user_client.bday|date:'Y-m-d' }}>

                            <label for="sex">Sex</label>

                            <select name="sex" id="sex" name = "sex "  class="form-control">
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                                <option value="others">Others</option>
                            </select>

                            <label for="email">Home Address</label>
                            <div class="form-floating mb-3">                                        
                                <input class="form-control" id="HomeAdd" name = "HomeAdd" type="text" placeholder={{ user_client.homeAddress }} value = {{ user_client.homeAddress }} data-sb-validations="required,text" />
                            </div>

                            <label for="email">Contact Number</label> <!-- Daapat ay number lang s'ya -->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="ContactNum" name = "ContactNum" type="tel" placeholder={{ user_client.contactNum }} value = {{ user_client.contactNum }} data-sb-validations="required, tel" />
                            </div>

                            <label for="email">Email</label>
                            <div class="form-floating mb-3">
                                {% comment %} <input class="form-control" id="Email" name = "Email" type="email" placeholder={{ user.email }} value = {{ user.email }} data-sb-validations="required,email" /> {% endcomment %}
                                <input class="form-control" id="Email" name="Email" type="email" placeholder="{{ user_obj.email }}" value="{{ user_obj.email }}" data-sb-validations="required,email" />

                                
                                <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                                <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                            </div>


                            <!-- Submit Button-->
                            <div class="d-grid"><button class="btn btn-primary btn-lg enabled" id="submitReg" type="submit">Submit</button></div> <!-- On click, it should go to the database -->
                            {% comment %} <input type= "button" value = "submit"> {% endcomment %}
                        </form>
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper --> 

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">X</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'sb-admin-2.js' %}" ></script>
    <script src="{% static 'sb-admin-2.min.js' %}" ></script>
    <script src="{% static 'admin-tables.js' %}" ></script>

    
</body>
</html>