{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel = 'stylesheet' href = {% static 'sb-admin-2.min.css' %}>
    <link rel = 'stylesheet' href = {% static 'styles.css' %}>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    </head>


    <body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'index'%}">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">EyeLuc </div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="{%url 'admin_Dashboard' %}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Home</span></a> <!-- This will bring them on homepage of the website -->
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider"> <!-- Ito yung parang may dash -->

            <li class="nav-item active">
                <a class="nav-link" href="{%url 'admin_Clinics_Table' %}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Clinics</span></a>
            </li>

            <hr class="sidebar-divider">

            <li class="nav-item active">
                <a class="nav-link" href="{%url 'admin_RegisterOptha' %}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Register Opthamologist</span></a>
            </li> 

            <hr class="sidebar-divider">           

            <li class="nav-item active">
                <a class="nav-link" href="">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Profile</span></a>
            </li>
            
            <hr class="sidebar-divider">

            <li class="nav-item active">
                <a class="nav-link" href="{%url 'admin_OpthalInfo' %}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Opthamologist Table</span></a>
            </li> 

            <hr class="sidebar-divider">

            <li class="nav-item active">
                <a class="nav-link" href="{% url 'admin_Tables'%}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>User Table</span></a> <!-- In admin side, it should show all the user account -->
            </li>
            
            <hr class="sidebar-divider">
            
            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <!-- End of Sidebar --> 

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                                               
                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Douglas McGee</span>
                                <img class="img-profile rounded-circle"
                                    src="img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->
                {% for message in messages %}
                    <h3>{{message}}</h3>
                {% endfor %}
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Registered Opthamologist</h1>
                    </div>

                    <a href="{%url 'admin_RegisterOptha' %}">
                    <button type="button" class="btn btn-primary">Add</button>
                    </a>
                    <button type="button" class="btn btn-success">Update</button>
                    <button type="button" class="btn btn-danger" id="delete-btn">Delete</button>

                    <br>
                    <br>

                    {% for message in messages %}
                        <h3>{{message}}</h3>
                    {% endfor %}
                    
                    <!-- Content Row -->
                    <div class="row">
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                        <div class="card shadow mb-4">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Select All  <input type="checkbox" id="select-all-checkbox"></th>
                                                <th>Username</th>
                                                <th>Name</th>
                                                <th>Sex</th>
                                                <th>Contact Number</th>
                                                <th>Email</th>
                                                <th>Assigned Clinic</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th></th>
                                                <th>Username</th>
                                                <th>Name</th>
                                                <th>Sex</th>
                                                <th>Contact Number</th>
                                                <th>Email</th>
                                                <th>Assigned Clinic</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            {% for data in opthalInfo %}
                                            {% comment %} {% for data, clin in info  %} <!-- hanggang 2 lang yung ni s-show n'ya --> {% endcomment %}
                                                <tr>
                                                    {% comment %} <td><input type="checkbox" class="row-checkbox" data-userid="{{ data.ophthalmologist.user.id }}"></td>
                                                    <td>{{ data.ophthalmologist.user.username }} {{ data.ophthalmologist.user.id }}</td>
                                                    <td>{{ data.ophthalmologist.firstName }} {{ data.ophthalmologist.lastName }}</td>
                                                    <td>{{ data.ophthalmologist.sex }}</td>
                                                    <td>{{ data.ophthalmologist.contactNum }}</td>
                                                    <td>{{ data.ophthalmologist.user.email }}</td>
                                                    <td>{{ data.clinic_name }}</td> {% endcomment %}

                                                    <td><input type="checkbox" class="row-checkbox" data-userid="{{ data.user.id }}"></td>
                                                    <td>{{ data.user.username }} {{ data.user.id }}</td>
                                                    <td>{{ data.firstName }} {{ data.lastName }}</td>
                                                    <td>{{ data.sex }}</td> 
                                                    <td>{{ data.contactNum }}</td> 
                                                    <td>{{ data.user.email }}</td>
                                                    {% comment %} <td>{{ opthal_clin.clinicName }}</td>  {% endcomment %}
                                                    {% comment %} <td>{{ clinic_names[data.opthID] }}</td> comment ito still not working 
                                                    <td>{{ clinic_names_by_opthal_id|get_item:data.opthID }}</td> {% endcomment %}
                                                   
                                                    {% comment %} <td>
                                                        {% comment %} {% with data.opthID as opthID %}
                                                            {% if opthID in clinic_names_by_opthal_id %}
                                                                {{ clinic_names_by_opthal_id[opthID] }}
                                                            {% endif %}
                                                        {% endwith %} {% endcomment %}

                                                        {% comment %} {% if data.opthID in clinic_names_by_opthal_id %}
                                                            {{ clinic_names_by_opthal_id[data.opthID] }}
                                                        {% endif %} {% endcomment %}

                                                     <!-- lumalabas na yung clinic name kaso hindi naka sync dun sa opthalmologists -->
                                                    {% comment %} <td>{{ clinic_names_by_opthal_id[clinics.id] }}</td> {% endcomment %}
                                                </tr>
                                            {% endfor %} 
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper --> 

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">X</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'admin-tables.js' %}" ></script>
    <script src="{% static 'sb-admin-2.js' %}" ></script>
    <script src="{% static 'sb-admin-2.min.js' %}" ></script>

    
</body>
</html>